/* general */

body {
	margin: 0px;
	font-family: Arial;
}

a:hover {
   text-decoration:none;
}

a[href] {
	color: #e74c3c;
	text-decoration: none;
}

.wrapper {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 940px;
}

.header_actions{
	height: 30pt;
}

.favorite_two, .sound_two {
	float: right;

}

.favorite_two {
	margin-left: 5pt;
}

.translate_two, .twitter_two {
	float: left;
}

/* nav */

nav {
	padding: 0pt 5pt;
	margin: 0pt;
	padding-top: 10pt;
	padding-bottom: 7pt;
	margin-bottom: 9pt;
	max-height: 100px;
	overflow: hidden;
	border-bottom: 1px solid gray;

}

nav .left-wrapper {
	float: left;

}

nav .left-wrapper select {
	height: 50px;
	font-size: 15pt;
	border: none;
	outline: none;
	padding-right: 5px;
	background-color: transparent;

}

nav .right-wrapper {
	float: right;
}

nav .right-wrapper ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav .right-wrapper ul li{
}

.right-wrapper ul li:hover, nav .right-wrapper ul li.active, .favorite:hover{
	background-position: right; 
}

.resource_action {
	color: #e74c3c;
	font-size: larger;
	margin-top: 5pt;
}

.right-wrapper #twitter {
	background-image: url("/static/assets/twitter.svg");
}

.favorite {
	background-image: url("/static/assets/favorite.svg");
}

.right-wrapper #sound {
	display: none;
	background-image: url("/static/assets/sound.svg");
}

.right-wrapper #edit {
	display: none;
	background-image: url("/static/assets/edit.svg");
}

.right-wrapper #ask {
	display: none;
	background-image: url("/static/assets/ask.svg");
}

.right-wrapper ul li, .favorite {
	float: right;
	width: 20px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/* resource */

.resource {
	margin: 0px 5pt;
}
.drag {
	outline: none;
	border: none;
}

	/* text */

	.text {
	outline: none;
	font-size: 30pt;
	line-height: 45pt;
	position: relative;
    top: -5pt;
	}

	.text .word {
		padding-bottom: 1pt;
		font-size: 30pt;
		margin-right: 2pt;
	}

	.text .unknown{
		border-bottom: 3px solid #e74c3c;
	}


	/* translation */

	.translation {
		display: none;
		outline: none;
		font-size: 15pt;
		margin: 10pt 0pt;

	}

	/* edit */
	
	.confirm, .edit, .finish {
		display: none;
	}

	button {
		padding: 0pt 20pt;
		height: 50px;
		margin-bottom: 10pt;
	    background-color: #d9d9d9;
	    border: none;
	    margin-right: 10pt;
	    color: #a5a5a5;
	    font-size: 15pt;
	    font-weight: bolder;
	    outline: none;
	}

	button:hover {
	    background-color: #bdc3c7;
	    color: white;
	}

	textarea {
		display: block;
		width: 100%;
		margin-bottom: 5pt;
		font-size: 20pt;
		height: 50pt;
	}



/* explain */

.explain {
	margin-top: 5px;
	position: fixed;
	background-color: white;
	bottom: 0;
	width: 100%;
}

.explain .wrapper {
	padding: 10pt 5pt;
	height: 500px;
	background-color: white;
	padding-bottom: 200pt;
	border-top-left-radius: 8pt;
	border-top-right-radius: 8pt;
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2), 0 -4px 10px 0 rgba(0, 0, 0, 0.19);
}

.explain .word {
	font-size: 30pt;
}

.explain .pronunciation {
	font-size: 15pt;
	margin-top: 0pt;
}

.explain .definition {
	font-size: 13pt;
	list-style: none;
	margin-top: 20px;
    padding: 0;
}

