/* general */

body {
	margin: 0px;
}

.wrapper {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 940px;
}

/* nav */

nav {
	padding: 0pt;
	margin: 0pt;
	max-height: 100px;
	overflow: hidden;

}

nav .left-wrapper {
	float: left;
	display: none;

}

nav .left-wrapper select {
	height: 50px;
	font-size: 15pt;
	border: none;
	outline: none;
	padding-right: 5px;
	background-color: transparent;

}

nav .right-wrapper {
	float: right;
}

nav .right-wrapper ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav .right-wrapper ul li{
}

nav .right-wrapper ul li:hover, nav .right-wrapper ul li.active{
	background-position: right; 
}

nav .right-wrapper #translate {
	background-image: url("/static/assets/translate.svg");
}

nav .right-wrapper #twitter {
	background-image: url("/static/assets/twitter.svg");
}

nav .right-wrapper #favorite {
	background-image: url("/static/assets/favorite.svg");
}

nav .right-wrapper #sound {
	background-image: url("/static/assets/sound.svg");
}

nav .right-wrapper #edit {
	background-image: url("/static/assets/edit.svg");
}

nav .right-wrapper #ask {
	background-image: url("/static/assets/ask.svg");
}

nav .right-wrapper ul li {
	float: right;
	height: 50px;
	width: 50px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/* resource */

.drag {
	outline: none;
	border: none;
}

	/* text */

	.text {
	outline: none;
	font-size: 30pt;
	line-height: 45pt;
	margin: 5pt 5pt;
	}

	.text .word {
		padding-bottom: 1pt;
		font-size: 30pt;
		margin-right: 2pt;
	}

	.text .unknown{
		border-bottom: 3px solid #e74c3c;
	}


	/* translation */

	.translation {
		display: none;
		outline: none;
		font-size: 15pt;
		margin: 10pt 5pt;

	}

	/* edit */
	
	.confirm, .edit, .finish {
		display: none;
	}

	button {
		padding: 0pt 20pt;
		height: 50px;
		margin-bottom: 10pt;
	    background-color: #d9d9d9;
	    border: none;
	    margin-right: 10pt;
	    color: #a5a5a5;
	    font-size: 15pt;
	    font-weight: bolder;
	    outline: none;
	}

	button:hover {
	    background-color: #bdc3c7;
	    color: white;
	}


/* explain */

.explain {
	margin-top: 5px;
	position: fixed;
	background-color: white;
	bottom: 0;
	width: 100%;
}

.explain .wrapper {
	padding: 10pt 5pt;
	height: 500px;
	background-color: white;
	padding-bottom: 200pt;
	border-top-left-radius: 8pt;
	border-top-right-radius: 8pt;
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2), 0 -4px 10px 0 rgba(0, 0, 0, 0.19);
}

.explain .word {
	font-size: 30pt;
}

.explain .pronunciation {
	font-size: 15pt;
	margin-top: 0pt;
}

.explain .definition {
	font-size: 13pt;
	list-style: none;
	margin-top: 20px;
    padding: 0;
}

