<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>everytiān</title>
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css"/>
 		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css"/>
 		<link rel="stylesheet" type="text/css" href="{% static 'practice.css' %}">
	</head>
	<body>
		<div class="wrapper">
			<nav>
				<div class="left-wrapper">
					<a>Practice</a>
					<a href="{% url 'favorites' %}">Favorites</a>
					<a href="{% url 'evolution' %}">Evolution</a>
				</div>
				<div class="right-wrapper">
					<ul>
						<li><a href="{% url 'settings' %}">⋮</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<section>
			<div class="wrapper">
				<div id="carru" data-slick='{"slidesToShow": 1, "slidesToScroll": 2}'></div>
			</div>
		</section>
		<section class="explain" style="display: none;">
			<div class="wrapper">	
				<div class="favorite"></div>
				<div class="word"></div>
				<div class="pronunciation"></div>
				<ul class="definition"></ul>
			</div>
		</section>
		{% csrf_token %}
		<script   src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{% static 'jquery.ui.touch-punch.min.js' %}"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
		<script>
			user_email = "{{ user_email }}";
			base_url = "http://{{ request.get_host }}{% url 'api_resources' %}";
			practice_url = "{% url 'practice' %}";
			words_url = "http://{{ request.get_host }}{% url 'api_words' %}"
		</script>
		<script type="text/javascript" src="{% static 'practice.js' %}"></script>
	</body>
</html>