{% block content %}

<style>

	.word {
		font-size: 30pt;
		margin-right: 2px; 
		display: inline;
	}

	.unknown {
		border-bottom: 4px solid #e74c3c;
	}

	.explain-box {
		border-top: 2px solid #bdc3c7;
		margin-top: 5px;
		position: fixed;
    	bottom: 0;
    	width: 100%;

	}

	.explain-box .pronunciation {
		font-size: 15pt;
	}

	.explain-box .definition {
		font-size: 13pt;
		list-style: none;
		margin-top: 20px;
	    padding: 0;
	}

	.actions {
		margin-top: 40px;
	}

	#translation {
		display: none;
		font-size: 15pt;
		margin-top: 15pt;
		margin-bottom: 15pt;
	}

</style>
{% if audio > 0 %}
<audio controls autoplay>
  <source src="https://audio.tatoeba.org/sentences/cmn/{{ audio }}.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{% endif %}
<section class="text">
	{% for word in text %}
		<span class="word">{{ word }}</span>
	{% endfor %}
</section>
<section class="explain-box">
	<div class="word"></div>
	<div class="pronunciation"></div>
	<ul class="definition"></ul>
</section>
<section class="actions">
<button id="translate">Show translation</button>
<a href="{% url 'resource' %}"><button>Revise other random text</button></a>
</section>
<div id="translation">{{ translation }}</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
	{% autoescape off %}
	var dict = {{ word_definitions }};
	{% endautoescape %}

	function explain(word, pronunciation, definitions){
		$( ".explain-box .word" ).text(word);
		$( ".explain-box .pronunciation" ).text(pronunciation);
		def_list = $( ".explain-box .definition" ).empty();
		for(var i = 0; i < definitions.length; i++){
			def_list.append("<li>" + definitions[i] + "</li>");	
		}
	}

	var last_touched="";

	function clear_explain(){
		$( ".explain-box .word" ).empty();
		$( ".explain-box .pronunciation" ).empty();
		$( ".explain-box .definition" ).empty();
	}

	$( ".word" ).click(function(event) {
	  touched_word = $(this).text()
	  if(touched_word in dict) {
	  	if (last_touched == touched_word){
	  		if ($(this).hasClass( "unknown" )){
	  			$(this).removeClass( "unknown" );
	  			clear_explain();
	  		} else {
	  			word_dict = dict[touched_word];
	  			explain(touched_word, word_dict["pinyin"], word_dict["definitions"]);
	  			$(this).addClass( "unknown" );
	  		}
	  	} else {
	  		word_dict = dict[touched_word];
	  		explain(touched_word, word_dict["pinyin"], word_dict["definitions"]);
	  		if (!$(this).hasClass("unknown")){
	  			$(this).addClass("unknown");
	  		}
	  	};
	  	last_touched = touched_word;
	  }
	});

	$( "#translate" ).click(function(event) {
	  if(event.target.innerHTML == 'Show translation') {
	  	$("#translation").show();
	  	event.target.innerHTML = "Hide translation";
	  } else {
	  	$("#translation").hide();
	  	event.target.innerHTML = 'Show translation';
	  }
	});

</script>

{% endblock %}